{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Modifier "{{ place.name }}"{% endblock %}

{% block body %}
    <h1>Modifier "{{ place.name }}"</h1>

    {{ include('place/_form.html.twig', {'button_label': 'Modifier'}) }}

    {{ include('place/_delete_form.html.twig') }}
{% endblock %}
