{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ place.name }}{% endblock %}

{% block body %}
    <h1>{{ place.name }}</h1>

    <span class="badge text-bg-info">{{ place.type.value }}</span>
    {% for category in place.categories %}
        <span class="badge bg-primary">{{ category.name }}</span>
    {% endfor %}
    <p class="card-text">{{ place.description }}</p>

    <div class="d-flex gap-3">
        <a href="{{ path('app_place_edit', {'id': place.id}) }}" class="btn btn-warning">Modifier</a>
        {{ include('place/_delete_form.html.twig') }}
    </div>
{% endblock %}
